<%= render 'shared/profile', user: @user %>

<div class="d-flex" style="margin-left: 50px;">
    <% @tasks.each do |task| %>
      <%= render 'shared/task-card-small', task: task %>
    <% end %>
</div>
