.bio{
  margin: auto;
  width: 960px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.bio_word_pos{
 display: flex;
 justify-content: center;
 margin: auto;
}

.favorite_tasks{
  margin: auto;
  width: 960px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding-bottom: 30px;
  margin-top: 30px;
}

.coins{
  left: 50%;
  height: 240px;
  width: 240px;
  margin: auto;
  font-size: 32px;
  background-color: #212842;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px black;
  padding: 35px 32px 16px;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 60px;
}

p{
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

h2{
  font-family: 'Abel', sans-serif;
  font-size: 64px;
}

.coins_pos{
  display: flex;
  justify-content: center;
  margin: auto;
}

.dashboard_background{
  position: relative;
  width: 100%;
  height: 340px;
  background-color:#2C3E52;
  border-bottom: 1px solid white;
   background: linear-gradient(-45deg, #527597, #85BAE4);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}

.coin-number {
    font-size: 56px !important;
    font-weight: 900;
}

.card-product-one {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 70%;
  height: 250px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color:white;
  color: black;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    color: #1E2742;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: black;
    font-size: 21px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product-infos {
    padding: 16px;
  }
  b{
    color: red;
  }
}

.card-product-two {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 90%;
  height: 180px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card-product-two img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-two h2 {
  color:#1E2742;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}


.card-product-two p {
  color: #6A95BA;
  font-size: 21px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-two .card-product-infos {
  width: 100%;
  height: 100%;
  padding: 16px;

}

.card-product-infos{
  h2:hover{
    color: #597EA1;
    transition: 0.5s;
  }
  p:hover{
    color: #597EA1;
    transition: 0.5s;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.my_name{
    position: absolute;
    bottom: 50px;
    left: 30px;
  span{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 32px;
  }
  h1{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 32px;
  }
}

#complete_buttom_dashboard{
 height: 100%;
 width: 180px;
 position: absolute;
 right: 0px;

  .transfer {
    height: 185px;
    width: 100%;
    background-color: #89BEE8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
     p{
    color: white;
    position: absolute;
    bottom: 50px;
    right: 40px;
  }

    .t-icon {
    margin-bottom: 20px;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: #89BEE8;
    box-shadow: 0px 0px 10px 10px rgba(25, 25, 25, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .t-icon:hover{
       transform: scale(1.1);
      transition: 0.5s;
    }

    .fa-exchange-alt {
    font-size: 4em;
    color: white;
    }
  }

  .completed {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 225, 225, 0.7);

    .c-icon {
    margin-top: 15%;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .fa-smile {
    // position: absolute;
    // top: 10px;
    // right: 35px;
    font-size: 5em;
    color: white;
    // background-color: rgba(200, 200, 200, 0.7);
    // padding: 10px;
    // border-radius: 50%;
    }
     p{
    color: white;
    position: absolute;
    bottom: 50px;
    right: 47px;
  }
  }
}







.info{
  display: flex;
  justify-content: center;
}

.daashboard{
  display:flex;
  justify-content: space between;
}

.tasks_dashboard_position{
width: 65%;
}

.offers_dashboard_position{
width: 35%;
box-shadow: 0px 14px 14px 15px rgba(0,0,0,0.15);
}

.see_all_offers{
  background-color: #1F2742;
  width: 100%;
  height: 20%;
 position: absolute;
 bottom: 0px;
 text-align: center;
 h4{
  margin-top: 7px;
  color: white;
 }
}


.colorful_dashboard{
  p{
    color: green;
  }
}

.dashboard_offers_state{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.offers_pictures{
  height: 100%;
  width: 180px;

  img{
  position: absolute;
  right: 0px;
  }
}



