
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}




.main-container{

  display: flex;
  justify-content: center;
  color: #444444;
  width: 90%;
  background-color: #6d6d6d5e;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 0 0 #d7d8db, 0 0 0 0px #e3e4e8;
  margin-bottom: 120px;

}

.main-container-headers{
display: flex;
justify-content: center;
width: 90%;
margin: auto;
margin-bottom: 45px;
}

.tasks{
 margin: auto;
 width: 100%;

}

.offers{
 margin: auto;
 background-color: #F9D060;
}

.bio{
  margin: auto;
  width: 960px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.bio_word_pos{
 display: flex;
 justify-content: center;
 margin: auto;
}

.favorite_tasks{
  margin: auto;
  width: 960px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding-bottom: 30px;
  margin-top: 30px;

}

.coins{
  left: 50%;
  height: 240px;
  width: 240px;
  margin: auto;
  font-size: 32px;
  background-color: #212842;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px black;
  padding: 35px 32px 16px;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 60px;
}

p{
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

h2{
  font-family: 'Abel', sans-serif;
  font-size: 64px;
}

.coins_pos{
  display: flex;
  justify-content: center;
  margin: auto;
}

.dashboard_background{
  width: 100%;
  height: 120px;
  background-color:#2C3E52;
  border-bottom: 1px solid white;
}

.avatar-dashboard{
  margin-left: 60px;
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.vatar_dashboard_pos{
}

.card-product-one {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  width: 600px;
  height: 120px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card-product-two {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  width: 600px;
  height: 120px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}


.card-product-one img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-two img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-one h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-two h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-one p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-two p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-one .card-product-infos {
  padding: 16px;
}

.card-product-two .card-product-infos {
  padding: 16px;
}

.dashboard_all_cards{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 0px;
}

h1{
  font-family: 'Abel', sans-serif;
  font-size: 64px;
  color: white;
}

span{
  color: #22d634 ;
}

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #527597, #85BAE4);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


.heartbeat {
  -webkit-animation: heartbeat 4s ease-in-out infinite both;
          animation: heartbeat 4s ease-in-out infinite both;
}

