.profile_avatar{
  img{
    width:200px;
  }
}

.profile-container {
  width: 50%;
  margin-left: 70px;
  color: white;
  font-weight: 500;
  box-shadow: 0px 7px 7px 1px rgba(0,0,0,0.20);

  & .details {

  }
}

.profile_bg {
  height: 60vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("bannerv1.svg") !important;
  background-size: cover;
}

.row {
  background-color: rgba(0,0,0,.5)
}

.profilephotobig {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
