.rating {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;

  & .ratingstars {
    display: none;
  }

  & label {
    float: right;
    font-size: 0;
    color: #d9d9d9;
  }

  & label:before {
    content: "*";
    font-family: Arial;
    font-size: 40px;
  }

  & label:hover,
   label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
  }

  input:checked ~ label {
    color: #ccac00;
  }

  input:checked ~ label:hover,
  input:checked ~ label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
  }

}

.starbox {
  width: 100%;
  height: 30px;

  .wrapperstarbox {
    height: 30px;
    width: 80px;
  }
}
