.main-container-show {
  display:flex;
  justify-content: space-around;
  margin: 5px auto;
  width: 90%;
}

.card-show {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -700px;
  width: 750px;
  text-align: center;
  float: center;
  margin-top: 110px;
  padding: 17px 0px 30px 0px;
  background: #fff;
  border-radius: 15px;
  // box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show .card-show-top {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 10px;
  margin: 12px 133px 11px 156px;
}

.card-show .card-show-top h1{
  font-weight: 900;
}

.card-show-top .avatar-dashboard{
  position: absolute;
  top: -573px;
  left: -632px;
  text-align: center;
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: 50%;
}

.card-show-icons {
  display: flex;
  justify-content: space-around;
  padding: 10px 120px;
  margin-left: 78px;
  margin-right: 78px;
  border-radius: 5px;
}

.card-show-icons .card-show-amount-coins {
  position: absolute;
  text-align: center;
  left: 44%;
  height: 100px;
  width: 100px;
  margin: 0;
  font-size: 0px;
  background-color: #212842;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px black;
  padding: 17px 16px 17px;
  text-align: center;
  right: -29px;
  top: 196px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 5px;
}

.card-show .uploaded-photo > img {
  height: 358px;
  border-radius: 0px;
  width: 86%;
  margin-top: 14px;
  border-radius: 5px;
  object-fit: cover;
}

.description {
  position: absolute;
  align-items: center;
  top: 514px;
  left: 41px;
  width: 646px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 78px;
  margin-right: 78px;
  border-radius: 5px;
  color: white;
  letter-spacing: -1px;
  // background-color: #f8f8f8;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.4);
}

.card-show-top h1{
  font-size: 35px;
  font-color: white;
  font-family: 'Open Sans', sans-serif
}

.card-show-top h2{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif
}

.card-show-details {
  padding: 17px;
}

hr.divider-line{
  height: 10px;
  width: 80%;
  margin: -16px 80px;
  border: 0;
  box-shadow: 0 8px 8px -9px #dbdbdb inset;
}

.card-show-details h1{
  font-size: 25px;
  padding: 30px;
  font-family: 'Open Sans', sans-serif
}

.card-show-details h2{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.card-show-details h3{
  font-size: 19px;
  font-weight: 600;
  color: #272c329c;
  font-family: 'Open Sans', sans-serif
}

.calendar-icon {
  padding-bottom: 5px;
}

.clock-icon {
  padding-bottom: 10px;
}

.coin-icon {
  padding-bottom: 8px;

  }





//nav-container on the right side

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2000;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 400px;
  width: 650px;
  float: center;
  margin-top: 110px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  // box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.nav-container .offers {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.nav-container .offers .offer-avatars {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  text-align: left;
  padding-right: 0;
}

.nav-container .offers .offer-avatars .avatar-show-nav img{
  height: 80px;
  width: 80px;
  border-radius: 8%;
  margin-top: 14px;
  margin-bottom: 17px;
  margin-left: 20px;
  padding-left: 0;

}

.nav-container .offers .offer-comments {
  width: 100%;
  padding: 0px 0px;
}

.offers .offer-comments .comments-boxes {
  position: relative;
    height: 80px;
    width: 70%;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 17px;
    margin-left: 11px;
    margin-right: 11px;
    background-color: #f8f8f8;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #80808069;
    border-width: 5px;
    border-color: black;
}

.offer-comments, .offer-lockup {
  width: 100%;
}

.offers .offer-comments .comments-boxes{
  h3{
  font-size: 10px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif
  }

  p {
    font-size: 20px;
    line-height: 60px;
  }
}

.nav-container .nav-container-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 53px 0px 20px 0px;
  color: #2f7bb7;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif
}

.btn-flat-offer {
  font-size: 24px;
  justify-content: center;
  color: white;
  padding: 18px 49px;
  margin-left: 109px;
  border-radius: 38px;
  background: #85b9bc;
  transition: background 0.3s ease;
}
.btn-flat-offer:hover {
  background: #7ca0a3;
  color: white;
}

.btn-flat-complete {
  font-size: 24px;
  justify-content: center;
  color: white;
  padding: 15px 24px;
  border-radius: 38px;
  background: #75A9D0;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 10px lightgrey;
}

.btn-flat-complete:hover {
  background: #6089ad;
  color: white;
}

.choose_me_btn{

  p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  text-align: center;
  padding-top: 10px;
  padding: 10px;
  margin-top: 10px;


  }
}
.choose_me_btn-booked{
  p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  text-align: center;
  padding-top: 10px;
  padding: 10px;
  margin-top: 30px;


  }
}

.choose_me_btn-rejected{
  p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  text-align: center;
  padding-top: 10px;
  padding: 10px;
  margin-top: 30px;


  }
}

.choose_me_btn:hover{
  background-color: #62c462;

}



.new-design-show {
  margin-top:70px;
  font-size: 6px;
  .avatar-show {
    top: 61px;
    left: 53px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .avatar-show:hover {
    opacity: 0.6;
    transition: 0.3s;
    }

  .offer-lockup {
    display: flex;
  }
  .choose_me_btn {
      padding: 2px 12px;
      background-color: #57a957;
      border-color: #57a957;
      text-align: center;
      color: white;
      height: 69px;
      margin-top: 21px;
      display: flex;
      border-radius: 7px;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
      }
    }

   .choose_me_btn:hover {
  background: #509b50;
  color: white;
  }

  .row {
    background: transparent;
  }
  .card-show {
    width: 100%;
    box-shadow: none;
    margin: 0;
  }
  .nav-container {
    z-index: 0;
    margin: 0;
    border-radius: 0;
    height: 110%;
    width: 100%;
    position: relative;
    h1 {
        font-size: 21px;
        padding: 54px 30px 30px 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: #2631419c;
        letter-spacing: 2px;
      }
  }
  .uploaded-photo {
    position: relative;
    top: -40px;
  }
  .description-new {
    position: absolute;
    align-items: center;
    left: 7%;
    width: 86%;
    bottom: 0px;
    border-radius: 5px;
    padding: 17px;
    color: white;
    letter-spacing: -1px;
    margin: 0;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    h2 {
      text-align: center;
    }

  }
  .card-show-icons {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    /* font-size: 13px; */
    margin-right: 0;
    padding-right: 0;
    border-radius: 5px;

  }
    .card-show-amount-coins {
      position: absolute;
      text-align: center;
      right: 22px;
      height: 100px;
      width: 100px;
      margin: 0;
      font-size: 0px;
      background-color: #212842;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      /* border: 3px solid #fff; */
      box-shadow: 1px 1px 21px #0000009c;
      padding: 17px 16px 17px;
      text-align: center;
      /* right: -29px; */
      top: -44px;
    }
    .card-show-details {
      padding: 21px;
      h1 {
        font-size: 15px;
        text-transform: uppercase;
        padding: 20px;
        padding-top: 3px;
        font-family: 'Open Sans', sans-serif;
        color: #8c8c8c !important;
        letter-spacing: 2px;
      }
      img {
        margin-bottom: 25px;
        width: 45px;
      }
    }
    .title-container {
      margin-left: 119px;
      width: 100%;
      text-align: left;
      h1 {
        color: #1E2742;
        font-size: 32px;
        font-weight: bold;
      }
      p {
        font-size: 19px;
        font-family: 'Open Sans', sans-serif;
        color: #2631419c;
      }
      h5 {
        font-size: 15px;
        padding-top: 3px;
        font-family: 'Open Sans', sans-serif;


      }
    }
    .divider-line {
      height: 20px;
      width: 100%;
      margin: 36px 0;
      margin-top: 0;
      border: 0;
      box-shadow: 0 8px 8px -9px #dbdbdb inset;
    }
    .divider-line-q {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px;
      border: solid 3px #254afc;
    }
    .nav-container-buttons {
      display: block;
      padding: 19px;
      justify-content: center;
      text-align: center;
      width: 100%;
      color: #2f7bb7;
      font-size: 24px;
      font-family: 'Open Sans', sans-serif;
      /* background: #e3e3e3; */

      border-radius: 4px;

      p{
        color: green;
      }
      label {
        font-size: 21px;
        padding: 30px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: #2F7BB7;
        letter-spacing: 2px;
        padding-top: 0;
      }
      textarea {
         height: 130px;
         /* max-width: 410px; */
         font-size: 23px;
         padding: 30px;
      }
      input {
        height: 60px;
        font-size: 21px;
        background-color: #89BEE8;
      } & ::placeholder {
        color:$gray-400;
        font-weight: 100;
      }
      .btn-primary {
        width: 100%;
      }
    }
}










