.card-show-container{
display: flex;
justify-content: center;
margin: 30px auto;
width: 100%;
width: 919px;
text-align: center;
background-color: red;
margin-top: 110px;
padding: 50px;
background: #fff;
border-radius: 22px;
box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

}

h1{
  font-size: 30px;
}

.card-show-container > img {
  height: 200px;
  width: 100%;
  border-radius: 0px;
  object-fit: cover;
}

.card-show-container .card-search-amount-coins {
  position: absolute;
  text-align: center;
  left: 50%;
  height: 83px;
  width: 83px;
  margin: auto;
  font-size: 0px;
  background-color: #212842;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px black;
  padding: 12px 14px 16px;
  text-align: center;
  right: -119px;
  top: -202px;
}

p{
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

h2{
  font-family: 'Abel', sans-serif;
  font-size: 64px;
}

.card-show-container .card-show-buttons{
  display: flex;
  padding-bottom: 5px;
  justify-content: space-around;
}
