.card-show {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 100%;
  width: 1200px;
  text-align: center;
  background-color: red;
  margin-top: 110px;
  padding: 15px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.card-show .card-show-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: black;
  padding: 10px;
}

.card-show-top .avatar-dashboard{
  right: -397px;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px black;
  margin-left: 60px;
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card-show-top > img {
  height: 300px;
  border-radius: 0px;
  width: 40%;
  border-radius: 5px;
  object-fit: cover;
}

.card-show-top h1{
  font-size: 40px;
  padding: 30px;
  font-family: 'Abel', sans-serif
}

.card-show-top h2{
  font-size: 30px;
  font-family: 'Abel', sans-serif
}

.card-show-top .card-show-amount-coins {
  position: absolute;
  text-align: center;
  left: 50%;
  height: 130px;
  width: 130px;
  margin: auto;
  font-size: 0px;
  background-color: #212842;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px black;
  padding: 12px 14px 16px;
  text-align: center;
  right: -130px;
}

p{
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

h2{
  font-family: 'Abel', sans-serif;
  font-size: 64px;
}

.card-show .card-show-buttons {
  display: flex;
  padding: 40px 0px;
  justify-content: space-around;
}

.card-show-profile {

}

.card-show-details {
  padding: 40px 0px;
}

.card-show-details h1{
  font-size: 40px;
  padding: 30px;
  font-family: 'Abel', sans-serif
}

.card-show-details h2{
  font-size: 30px;
  font-family: 'Abel', sans-serif
}

.card-show-details h3{
  padding: 15px;
  font-family: 'Abel', sans-serif
}

















