
<div class="container">
  <h1>Search results:</h1>
    <%= render 'shared/task-card-small', tasks: @tasks %>
</div>




<div class="d-flex justify-content-between">
  <div class="results col">
    <%= render 'shared/task-card-small', tasks: @tasks %>
  </div>
  <div
    id="map"
    style="width: 100%;
    width: 40%;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
