
<div class="container">
  <h1>Search results:</h1>

    <div class="task-container">
      <div class="row">
        <%@tasks.each do |task|%>
        <div class="card-search">
          <img src="http://www.selfstoragespecialists.com/blog/wp-content/uploads/2016/03/bigstock-new-home-real-estate-moving-91410869.jpg">
          <div class="card-search-infos">
            <div class="card-search-text">
              <h2><%#=@task.title%></h2>
              <h2><%#=@task.address%></p>
              <%end%>
            </div>
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-search-user avatar-bordered"/>
          </div>
        </div>
      </div>
    </div>
</div>


  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>







