

<div style="padding-top: 75px;">
<div class="d-flex justify-content-between">
  <div class="results col">
  <div class="title-section">
    <h2><b><%= Task.all.count %></b> people need your help:</h2>
  </div>
    <div class ="greeds_card">
      <div class="task-container">
        <div class="column">
        <!--   <h1><%#= @user.name %>'s tasks:</h1> -->
          <% @tasks.each do |task| %>
            <%= render 'shared/task-card-small', task: task %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div
    id="map"
    style="width: 100%;
    width: 50%;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
</div>
