
<div class="container">
  <div class="row">
    <% @tasks.each do |task| %>


    <div class="col-xs-12 col-md-4">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/L93QRNJ/chris-lawton-165884-unsplash.jpg)">
        <%= link_to "", tasks_path(task), class: "card-link" %>
        <div>
            <div class="card-trip-meal-type-small">
              <h4><%= task.title %></h4>
            </div>
          <h4><i>"Title"</i></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
