<div class="card-product-two">
  <%= link_to offer_path(offer) do %>
    <div class="card-product-infos">
      <p><%= offer.task.date.strftime("%F") %></p>
      <h2><%= offer.task.title %></h2>
  <%end %>
    </div>
  <div class = "dashboard_offers_state">
     <%if offer.state == 'pending' %>
     <p class="text-warning">PENDING</p>
     <%elsif offer.state == 'booked' %>
     <p class="text-success">BOOKED</p>
      <%elsif offer.state == 'done' %>
      <p class="text-primary">DONE</p>
      <%elsif offer.state == 'rejected' %>
      <p class="text-danger">REJECTED</p>
      <%else%>
      <p class="text-secondary">WRONG</p>
     <%end%>
  </div>
  <div class = "offers_pictures">
    <% avatar_url = offer&.task&.user&.avatar_url %>
    <% placeholder = "https://source.unsplash.com/iJ2IG8ckCpA/150x200" %>
    <%= image_tag( avatar_url.present? ? avatar_url : placeholder ) %>
  </div>
</div>
