<div class="card-product">
  <div class="column">
    <% offers.each do |offer| %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
  <div class="card-product-infos">
    <h2><%= offer.task.title %></h2>
    <p><%= offer.task.address %></p>
    <% end %>
    </div>
  </div>
</div>
