<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://3x39fmt0aja34zifjfnu4695x-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/180619-dinner-parties-top2.jpg);"> -->

<div class="banner" style="background-image: url( <%= image_path "bannerv1.svg" %>);">

  <%= image_tag "Nebo-Logo-.svg", :class => "bannerlogo bounceInDown" %>
  <div class="bannertagline"><h1>Creating connected neighborhoods</h1></div>
 <div class="searchbar-container-frontpage">
    <%= render 'shared/searchbar', task: @tasks %>
 </div>
</div>
