<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <%= link_to('Register', new_user_registration_path) %> <!-- new user registration path -->

 <%= cl_image_tag("yvo5p4pkxytmfcb0yplg",
       width: 400, height: 300, crop: :fill) %>
