<%= render 'shared/profile', user: @user %>
<div class="container">
  <%= link_to 'Edit your profile', edit_user_registration_path(@user) %>
</div>
<div class="d-flex" style="margin-left: 50px;">
    <% @tasks.each do |task| %>
      <%= render 'shared/task-card-small', task: task %>
    <% end %>
</div>
