<div style="height: calc(100vh - 75px); width: 100vw; overflow: scroll; z-index: 20; padding-bottom: 100px;">
  <div class='container'>
    <h2>I want to offer my help on this task!</h2>

      <br>

    <div class='container'>
      <br>
      <%= simple_form_for [@task, @offer] do |f| %>
        <%= f.input :comments,
         label: 'Comment:', placeholder: "Leave a comment or question for the person who's asking for help",
         input_html: { :size => 10, maxlength: 40 } %>
        <%= f.submit "Create Offer", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
