<div class = "bio">
<p><%=current_user.bio%></p>
<%= link_to 'Edit your profile(bio)', edit_user_registration_path(@user) %>
</div>

<div class = "main-container">
<div class = "tasks">
<ul>
  <p>My tasks:</p>
  <% @tasks.each do |task| %>
    <li><%= task.title %></li>
  <% end %>
</ul>
</div>

<div class = "offers">
<ul>
  <p>My offers:</p>
  <% @offers.each do |offer| %>
    <li><%= offer.state %></li>
    <% end %>
</ul>
</div>
</div>
<div class = "favorite_tasks">
 Here schoud be my favorite tasks
</div>
