@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceInDown {
  0% {
   opacity: 0;
   -webkit-transform: translateY(-400px);
 }
 60% {
   opacity: 1;
   -webkit-transform: translateY(20px);
 }
 80% {
   -webkit-transform: translateY(-10px);
 }
 100% {
   -webkit-transform: translateY(0);
 }
}

@keyframes bounceInDown {
 0% {
  opacity: 0;
  transform: translateY(-400px);
}
60% {
  opacity: 1;
  transform: translateY(20px);
}
80% {
  transform: translateY(-10px);
}
100% {
  transform: translateY(0);
}
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}




.banner {
  height: 100vh !important;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.fade-in {
  -webkit-animation: fade-in 0.75s ease-in both;
  animation: fade-in 0.75s ease-in both;
}



.bannerlogo {
  z-index: 5;
  position: absolute;
  top: 50px;
  left: 33.5%;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


