.card-search {
  margin: 30px auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #d6d6d6;
  text-align: left;
  padding: 20px;
  border-radius: 28px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-search > img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-search h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-search h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.card-search p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-search .card-search-infos {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.card-search-infos .card-search-user {
  position: absolute;
  right: 65px;
  top: -64px;
  width: 114px;
}

.card-search-infos .card-search-completed {
  position: absolute;
  background: #e4e4e4;
  text-align: center;
  padding: 7px;
  border-radius: 28px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  right: 780px;
  top: -291px;
  width: 163px;
}

.card-search-text {
  color: black;
}

