.card-search {
  margin: 30px 10px;
  width: 400px;
  height: 300px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #d6d6d6;
  text-align: left;
  padding: 6px;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity: 0.6;
    transition: 0.5s;
  }
}

.card-search > img {
  height: 200px;
  width: 100%;
  border-radius: 0px;
  object-fit: cover;
}

.card-search h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0px;
}

.card-search h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0px 0px;
}

.card-search p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-search .card-search-infos {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.card-search-infos .card-search-user {
  position: absolute;
  right: 12px;
  top: -64px;
  width: 114px;
}

.card-search-infos .card-search-state {
  position: absolute;
  background: #eb6a44;
  text-align: center;
  padding: -6px;
  border-radius: -22px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  right: 227px;
  top: -200px;
  width: 162px;
}

.card-search-infos .card-search-amount-coins {
  position: absolute;
  text-align: center;
  left: 50%;
  height: 83px;
  width: 83px;
  margin: auto;
  font-size: 0px;
  background-color: #212842;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px black;
  padding: 12px 14px 16px;
  text-align: center;
  right: -119px;
  top: -202px;
}

p{
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

h2{
  font-family: 'Abel', sans-serif;
  font-size: 64px;
}

.card-search-infos .card-search-completed {
  position: absolute;
  background: #e4e4e4;
  text-align: center;
  padding: 7px;
  border-radius: 28px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  right: 780px;
  top: -291px;
  width: 163px;
}

.card-search-text {
  color: black;
}

