.card-search {
  margin: 10px 10px;
  width: 400px;
  // height: 300px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;

  border: solid 1px lightgrey;
  text-align: left;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    opacity: 0.6;
    transition: 0.5s;
  }
}

.card-search > img {
  height: 200px;
  width: 100%;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
}

.card-search h1 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0px;
  color: #205279;
}

.card-search h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0px 0px;
}

.card-search p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-search .card-search-infos {
  padding: 27px 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.card-search-infos .card-search-user {
  position: absolute;
  right: 12px;
  top: -64px;
  width: 114px;
}

.card-search-infos .card-search-state {
  position: absolute;
  background: #eb6a44;
  text-align: center;
  padding: -6px;
  border-radius: -22px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  right: 227px;
  top: -200px;
  width: 162px;
}

.card-search-infos .card-search-amount-coins {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #8080809e;
  text-align: center;
  right: 15px;
  top: -50px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
}

.card-search-infos .card-search-completed {
  position: absolute;
  background: #e4e4e4;
  text-align: center;
  padding: 7px;
  border-radius: 28px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  right: 780px;
  top: -291px;
  width: 163px;
}

.card-search-text {
  color: black;
}

.card-search-text .color-mute {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 300;
}


.card-search-price {
  border-radius: 0 0 3px 3px;
  background: #89bee8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 5px 0;
}

a.card-search-link:hover {
  text-decoration: none;
}
