#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  min-width: 300px;
  max-width: 300px;
  padding-bottom: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
